<!DOCTYPE html>
<html>
  <head>
    <title>REVIEWS</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="top-wrapper">
        <div class="top-message flex space">
          <div class="top-left">
              <% current_user = User.find_by(id: session[:user_id]) %>
                <% if current_user %>
                  <p class="smile">こんにちは、<%= link_to("/users/#{current_user.id}/show",{class: "current-user"}) do %>
                      <%= current_user.name %>
                      <% end %>さん！</p>
                <% else %><p class="smile">こんにちは、ゲストさん！</p>
                <% end %>
            </div>
            <ul class="top-right">
    <header>
      <%= render "layouts/header" %>
    </header>
      <%= render "layouts/flash" %> 
    <hr>
    <%= yield %>
  </body>
</html>



